[submodule "OnixPluginManager"]
	path = OnixPluginManager
	url = https://github.com/OnixClient-Plugins/OnixPluginManager.git
[submodule "ContainR"]
	path = ContainR
	url = https://github.com/OnixClient-PluginForks/ContainR-Plugin.git
[submodule "VisualJukebox"]
	path = VisualJukebox
	url = https://github.com/OnixClient-PluginForks/VisualJukebox-Plugin.git
[submodule "DoubleDoors"]
	path = DoubleDoors
	url = https://github.com/OnixClient-PluginForks/DoubleDoors-Plugin.git
[submodule "Skinstealer-Plugin"]
	path = Skinstealer-Plugin
	url = https://github.com/OnixClient-PluginForks/Skinstealer-Plugin
[submodule "IdleFrames-Plugin"]
	path = IdleFrames-Plugin
	url = https://github.com/OnixClient-PluginForks/IdleFrames-Plugin
[submodule "ChatTools-Plugin"]
	path = ChatTools-Plugin
	url = https://github.com/OnixClient-PluginForks/ChatTools-Plugin
